[submodule "modules/unity"]
	path = modules/unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "modules/log"]
	path = modules/log.c
	url = git@github.com:rxi/log.c.git
[submodule "modules/num.c"]
	path = modules/num.c
	url = git@github.com:padawanphysicist/num.c.git
[submodule "modules/sf.c"]
	path = modules/sf.c
	url = https://github.com/padawanphysicist/sf.c
[submodule "module/Unity"]
	path = modules/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "module/log.c"]
	path = modules/log.c
	url = https://github.com/rxi/log.c
[submodule "module/integration.c"]
	path = modules/integration.c
	url = https://github.com/padawanphysicist/integration.c.git
[submodule "modules/log.c"]
	path = modules/log.c
	url = https://github.com/rxi/log.c
