[submodule "modules/unity"]
	path = modules/unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "modules/log"]
	path = modules/log
	url = git@github.com:rxi/log.c.git
[submodule "modules/num.c"]
	path = modules/num.c
	url = git@github.com:padawanphysicist/num.c.git
